<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>details page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <button class="button"><a href="/">Back to Home Page</a></button>
    <h2>Category: <%= expense.category %></h2>
    <h2>Price: <%= expense.price %></h2>
  </body>
</html>
