<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <button class="button"><a href="/">Back to Home Page</a></button>

    <form action="/api/expenses/<%= expense.id %>/update" method="post">
      <input
        value="<%= expense.category %>"
        type="text"
        placeholder="category"
        name="category"
        required
      />
      <input
        value="<%= expense.price %>"
        type="number"
        placeholder="price"
        name="price"
        required
      />

      <button class="button">Update expense</button>
    </form>
  </body>
</html>
