* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  padding: 20px 20px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.expenseCard {
  width: 500px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px black solid;
}

.button {
  width: 200px;
}

.button,
input {
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  border: 1px black solid;
}

.button a {
  color: black;
}

header {
  padding: 20px 0;
}

header ul {
  display: flex;
  gap: 30px;
  list-style: none;
  text-decoration: none;
  color: black;
}

header ul li a {
  color: black;
}

footer {
  margin-top: auto;
  text-align: center;
}
